/* SearchForm.css */
.user-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.user-icon {
  font-size: 20px;
  color: white;
}

.user-modal {
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.user-icon-container:hover .user-modal {
  display: block;
}

.username {
  font-weight: bold;
  margin-bottom: 5px;
}

.logout-link {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  /* text-align: left; */
}

.logout-link:hover {
  text-decoration: underline;
}



/* drop-Down */


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #343a40; /* dark background */
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #495057;
}

.nav-item{
  background: #000;
}